Repository Perun-Engineering/terraform-provider-yamlflattener, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, testing, ci, provider, flattener, utils, examples

Fix Security Scan workflow authentication conflict
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
Labels: ci

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

ci: Add security type to allowed PR title types
  .github/workflows/branch-protection.yml
Labels: ci

Fix golangci-lint toolchain in workflows
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security.yml
Labels: ci

Fix Go version format in go.mod from 1.24.0 to 1.24
  go.mod
Labels: dependencies

Fix Go module dependency issues by updating go.mod and go.sum
  go.mod
Labels: dependencies

fix: correct Go version format in go.mod from 1.24.0 to 1.24
  go.mod
Labels: dependencies

fix: correct Go version format in go.mod to resolve workflow failures
  go.mod
Labels: dependencies

fix: correct Go version format in go.mod from 1.24.0 to 1.24
  go.mod
Labels: dependencies

Fix go.mod dependency issues by running go mod tidy
  go.mod
Labels: dependencies

fix: update Go version format in go.mod from 1.24.0 to 1.24
  go.mod
Labels: dependencies

fix: resolve golangci-lint v2 "no go files" error in CI workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
Labels: ci

fix: resolve golangci-lint v2 staticcheck and revive issues
  internal/flattener/performance_test.go
  internal/yamlutil/yaml_parser.go
  internal/yamlutil/yaml_parser_test.go
Labels: testing, flattener

fix: bump Go to 1.25.8 to resolve stdlib vulnerabilities
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security-updates.yml
  .github/workflows/security.yml
  .golangci.yml
  go.mod
Labels: dependencies, ci

chore(deps): update Go dependencies to latest versions
  go.mod
  go.sum
Labels: dependencies

docs: update CHANGELOG.md for v0.1.1 release
  CHANGELOG.md
Labels: documentation

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: combine dependency updates from PRs #54 and #55
  go.mod
  go.sum
Labels: dependencies

deps: combine dependency updates from PRs #54 and #55 (#56)
  go.mod
  go.sum
Labels: dependencies

Deepen flattener module: delete yamlutil, wire structured errors, unexport fields
  internal/flattener/flattener.go
  internal/flattener/flattener_fuzz_test.go
  internal/flattener/performance_test.go
  internal/provider/acceptance_test.go
  internal/provider/data_source_flatten.go
  internal/provider/data_source_flatten_test.go
  internal/provider/flatten_helpers.go
  internal/provider/function_flatten.go
  internal/yamlutil/yaml_parser.go
  internal/yamlutil/yaml_parser_test.go
Labels: testing, provider, flattener

Remove dead test orchestration scripts
  scripts/run-acceptance-tests.sh
  scripts/run-cross-platform-tests.sh
  scripts/run-final-tests.sh
Labels: none

refactor: extract file I/O from Flattener into data source
  CONTEXT.md
  internal/flattener/errors.go
  internal/flattener/flattener.go
  internal/flattener/flattener_fuzz_test.go
  internal/flattener/flattener_test.go
  internal/flattener/performance_test.go
  internal/provider/data_source_flatten.go
  internal/provider/flatten_helpers.go
  internal/provider/function_flatten.go
  internal/provider/function_flatten_test.go
  internal/provider/provider.go
Labels: documentation, testing, provider, flattener

Consolidate provider tests and add ADR-0001
  docs/adr/0001-keep-flatten-helpers-shallow.md
  internal/provider/acceptance_test.go
  internal/provider/data_source_flatten_test.go
  internal/provider/equivalence_test.go
  internal/provider/final_integration_test.go
  internal/provider/function_flatten_test.go
  internal/provider/integration_test.go
Labels: documentation, testing, provider

refactor: absorb file I/O into Flattener module
  CONTEXT.md
  internal/flattener/errors.go
  internal/flattener/flattener.go
  internal/flattener/flattener_test.go
  internal/provider/data_source_flatten.go
  internal/provider/flatten_helpers.go
Labels: documentation, testing, provider, flattener

refactor: absorb whitespace validation into Flattener
  internal/flattener/flattener.go
  internal/flattener/flattener_test.go
  internal/provider/function_flatten.go
Labels: testing, provider, flattener

chore: scaffold agent skills config (issue tracker, triage labels, domain docs)
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Labels: documentation

fix: add missing package and exported-function doc comments
  internal/provider/data_source_flatten.go
Labels: provider

chore(deps): bump golang.org/x/net to v0.55.0 (GO-2026-5026)
  go.mod
  go.sum
Labels: dependencies

chore: scaffold agent skills configuration (#59)
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  go.mod
  go.sum
  internal/provider/data_source_flatten.go
Labels: documentation, dependencies, provider

fix: bump Go to 1.25.10 to resolve stdlib vulnerabilities
  go.mod
Labels: dependencies

fix: bump Go to 1.25.10 to resolve stdlib vulnerabilities (#60)
  go.mod
Labels: dependencies

ci: exempt Dependabot and Renovate from branch-protection checks
  .github/workflows/branch-protection.yml
Labels: ci

ci: exempt Dependabot and Renovate from branch-protection checks (#61)
  .github/workflows/branch-protection.yml
Labels: ci

fix(deps): bump x/text and grpc to clear govulncheck findings
  go.mod
  go.sum
Labels: dependencies

fix(deps): bump x/text and grpc to clear govulncheck findings (#68)
  go.mod
  go.sum
Labels: dependencies

docs: rename CONTEXT.md to GLOSSARY.md
  AGENTS.md
  GLOSSARY.md
  docs/agents/domain.md
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*', '*.md', 'examples/**/*.md']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

testing:
  - changed-files:
    - any-glob-to-any-file: ['**/*_test.go']

ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*', '.goreleaser.yml']

provider:
  - changed-files:
    - any-glob-to-any-file: ['internal/provider/**/*']

flattener:
  - changed-files:
    - any-glob-to-any-file: ['internal/flattener/**/*']

utils:
  - changed-files:
    - any-glob-to-any-file: ['internal/utils/**/*']

examples:
  - changed-files:
    - any-glob-to-any-file: ['examples/**/*']
