Repository Perun-Engineering/terraform-provider-yamlflattener, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, testing, ci, provider, flattener, utils, examples

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*', '*.md', 'examples/**/*.md']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['go.mod', 'go.sum']

testing:
  - changed-files:
    - any-glob-to-any-file: ['**/*_test.go']

ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*', '.goreleaser.yml']

provider:
  - changed-files:
    - any-glob-to-any-file: ['internal/provider/**/*']

flattener:
  - changed-files:
    - any-glob-to-any-file: ['internal/flattener/**/*']

utils:
  - changed-files:
    - any-glob-to-any-file: ['internal/utils/**/*']

examples:
  - changed-files:
    - any-glob-to-any-file: ['examples/**/*']

docs: fix malformed Terraform Registry documentation
  docs/data-sources/yamlflattener_flatten.md
  docs/functions/flatten.md
  docs/index.md
Labels: documentation

feat: add multi-line YAML support with newline escaping
  README.md
  docs/functions/flatten.md
  docs/index.md
  examples/complete-example/main.tf
  internal/flattener/flattener.go
  internal/flattener/flattener_test.go
  internal/provider/data_source_flatten.go
  internal/provider/function_flatten.go
  internal/provider/function_flatten_test.go
  internal/provider/provider.go
Labels: documentation, testing, provider, flattener, examples

fix: update Go version to 1.24 across all workflows and go.mod
  .github/workflows/auto-label.yml
  .github/workflows/branch-protection.yml
  .github/workflows/build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/project.yml
  .github/workflows/sync-labels.yml
  examples/complete-example/main.tf
  go.mod
Labels: dependencies, ci, examples

fix: configure local provider override for testing
  .github/workflows/pr-validation.yml
Labels: ci

fix: correct provider source case for dev override
  .github/workflows/pr-validation.yml
  examples/complete-example/main.tf
Labels: ci, examples

fix: skip terraform init and remove version constraint for dev overrides
  .github/workflows/pr-validation.yml
Labels: ci

fix: uncomment provider function calls in example
  examples/complete-example/main.tf
Labels: examples

fix: restore provider function examples to demonstrate v0.2.0 features
  .github/workflows/pr-validation.yml
Labels: ci

fix: correct YAML syntax in branch-protection workflow
  .github/workflows/branch-protection.yml
Labels: ci

Add comprehensive alertmanager YAML flattening tests
  internal/flattener/alertmanager_test.go
Labels: testing, flattener

chore: preserve workflow improvements from post-v0.1.0
  .github/workflows/auto-label.yml
  .github/workflows/branch-protection.yml
  .github/workflows/build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/project.yml
  .github/workflows/sync-labels.yml
Labels: ci

Remove redundant code and preserve YAML order
  README.md
  examples/complete-example/main.tf
  internal/flattener/flattener.go
  internal/flattener/flattener_test.go
  internal/flattener/order_preservation_test.go
Labels: documentation, testing, flattener, examples

chore: update version to 0.2.0
  README.md
  docs/index.md
  examples/complete-example/main.tf
  internal/provider/acceptance_test.go
  internal/provider/final_integration_test.go
  internal/provider/integration_test.go
Labels: documentation, testing, provider, examples

fix: correct provider source references
  examples/complete-example/main.tf
  internal/provider/acceptance_test.go
  internal/provider/final_integration_test.go
  main.go
  scripts/run-acceptance-tests.sh
  scripts/run-final-tests.sh
Labels: testing, provider, examples

docs: update CHANGELOG.md for v0.2.0 release
  CHANGELOG.md
Labels: documentation

fix: implement true order preservation using OrderedMap
  internal/flattener/flattener.go
  internal/flattener/ordered_map.go
Labels: flattener

docs: update CHANGELOG.md for v0.2.1 release
  CHANGELOG.md
Labels: documentation

feat: implement true YAML key order preservation with simplified API
  CHANGELOG.md
  examples/complete-example/main.tf
  internal/flattener/flattener.go
  internal/flattener/flattener_test.go
  internal/flattener/order_preservation_test.go
  internal/flattener/performance_test.go
  internal/provider/data_source_flatten.go
  internal/provider/function_flatten.go
Labels: documentation, testing, provider, flattener, examples

fix: CRITICAL - provider function now preserves YAML key order
  CHANGELOG.md
  README.md
  docs/functions/flatten.md
  examples/complete-example/main.tf
  internal/provider/function_flatten.go
  internal/provider/function_flatten_test.go
Labels: documentation, testing, provider, examples

chore: added missing permissions, fixed workflows
  .github/workflows/auto-label.yml
  .github/workflows/branch-protection.yml
  .github/workflows/build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/project.yml
  .github/workflows/sync-labels.yml
Labels: ci

chore: fix branch name validation rule to allow underscores
  .github/workflows/branch-protection.yml
  .github/workflows/pr-validation.yml
Labels: ci

chore: fix complete example for integrations tests
  examples/complete-example/main.tf
Labels: examples

fix: resolve security-updates workflow failures
  .github/workflows/build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-updates.yml
  .github/workflows/security.yml
Labels: ci

chore: improve installation documentation formatting
  README.md
Labels: documentation

chore: upgrade to Go 1.24
  .github/workflows/build.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-updates.yml
  .github/workflows/security.yml
  go.mod
Labels: dependencies, ci

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

refactor: improve naming conventions and security enhancements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security-updates.yml
  CHANGELOG.md
  Makefile
  internal/flattener/errors.go
  internal/flattener/flattener.go
  internal/flattener/flattener_fuzz_test.go
  internal/flattener/flattener_test.go
  internal/flattener/performance_test.go
  internal/provider/data_source_flatten.go
  internal/provider/function_flatten.go
Labels: documentation, testing, ci, provider, flattener

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

deps: update dependencies for security fixes
  go.mod
  go.sum
Labels: dependencies

fix: update security-updates workflow to use GH_PAT for PR creation
  .github/workflows/security-updates.yml
Labels: ci
